/* Global Style */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F1F0EA;
}

/* images styling */
.iit {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.posty {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navistar {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* h1 tags */
h1 {
  text-align: center;
  color: #333;
}

/* h2 tags */
h2 {
  color: #333;
}

/* section tags */
section {
  margin: 20px auto;
  max-width: 800px;
  background-color: #E0DDCF;
  padding: 20px;
  border-radius: 20px;
  border: 2px solid #333;
}

/* Nav Bar Styling */
nav {
  text-align: center;
  background-color: #534B52;
  overflow: hidden;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav a {
  padding: 14px 16px;
  font-size: 17px;

}

nav a:hover {
  background-color: #9c8e9a;
}

nav a.active {
  background-color: aliceblue;
}

