/* Global Style */
body {
  font-family: "verdana";
  margin: 0;
  padding: 0;
  background-color: #F1F0EA;
}

/* h1 tags */
h1 {
  text-align: center;
  color: #333;
}

/* h2 tags */
h2 {
  color: #333;
}

/* section tags */
section {
  margin: 20px auto;
  max-width: 900px;
  background-color: #E0DDCF;
  padding: 20px;
  border-radius: 15px;
  border: 2px solid #333;
}

/* Nav Bar Styling */
nav {
  text-align: center;
  background-color: #534B52;
  overflow: hidden;
}

nav ul {
  list-style-type: none;
  margin: 10;
  padding: 10;
}

nav ul li {
  display: inline;
}

nav a {
  padding: 14px 16px;
  font-size: 17px;
  text-decoration: none; 
  color: #E0DDCF;
  
}

nav a:hover {
  background-color: #9c8e9a;
}

nav a.active {
  background-color: aliceblue;
}

/* images styling */
.iit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 350px;
  width: auto;
}

.posty {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 350px;
  width: auto;
}

.navistar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 275px;
  width: auto;
}

.hitchhiker {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.baseball {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 350px;
  width: auto;
}

.john {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 350px;
  width: auto;
}

.hawaii {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 350px;
  width: auto;
}

.video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 350px;
  width: 600px;
}

footer {
  text-align: center;
}
